<div class="container">
    <div class="row">
         <!--spacing-->
        <div class="col-md-3"></div>
        <!--form div-->
        <div class="col-md-6">
            <form>
                <div class="form-row">
                    <!--first name-->
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" name="petname" [(ngModel)]="ownerObj.first_name"  class="form-control">
                    </div>
                    <!--last name-->
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" name="breed" [(ngModel)]="ownerObj.last_name" class="form-control">
                    </div>
                </div>
                <!--Email-->
                <div class="form-group">
                    <label >Email</label>
                    <input type="email" name="color" [(ngModel)]="ownerObj.email"  class="form-control">
                </div>
                <!--designation-->
                <div class="form-group">
                    <label>Designation</label>
                    <input type="text" name="designation" [(ngModel)]="ownerObj.designation"   class="form-control">
                </div>
                <!--submit-->
                <button type="submit" (click)="saveOwner()" class="btn btn-primary">Add Owner</button>
            </form>
        </div>
        <!--spacing-->
        <div class="col-md-3"></div>
    </div>
</div>